.nav{
    top:0 ;
    width: 100%;
    position: fixed;
    background-color: #009244c7;
    z-index: 9999;
    display: block;
    height: 8vh;
    margin: auto;
}
.nav img{
    width: 60px;
    height: 60px;
    margin-left:9%;
    margin-top: 8px;
}
.nav a{
    color: white;
    font-size: 1.2em;
}
.nav .cont{
    margin-left: 25%;
    color: white;
    text-align: center;
}
.nav .navbar-toggler{
    display: block;
    margin-left: 100%;
    border: 2px solid black;
}